.select2-results {
  background-color: #7701E4;
}

.select2-results:active, .select2-results:hover {
  background-color: #7701E4;
}

.select2-select2-selection__choice {
  color: #7701E4 !important;
}

.nav > li.active > a {
  background-color: #7701E4;
  opacity: 0.8;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #7701E4;
  opacity: 0.8;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
html * {
  color: #e2e2e2 !important;
}

input, textarea, select {
  color: #6d6d6d !important;
}

.selec2 {
  color: black !important;
}

.container-fluid, .container, .modal-content {
  background-color: #2f2f2f;
}

.row.content {
  height: 1500px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 3s ease-out 0s 1 slideInFromLeft;
}

footer p {
  margin: 0 auto;
  transition: transform 2s;
}

footer p:hover {
  -webkit-transform: rotateY(360deg);
  /* Safari */
  transform: rotateY(360deg);
  color: #7701E4 !important;
}

footer img {
  margin-left: -10px;
  margin-bottom: -5px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.shutterClick {
  height: 10px;
  width: 10px;
  display: inline-block;
  vertical-align: middle;
  animation: cameraFlash 5s alternate-reverse infinite;
  background-color: #2f2f2f;
}

@keyframes cameraFlash {
  0% {
    box-shadow: 0;
  }
  29% {
    box-shadow: inset 0px 0px 10px 100px #2f2f2f;
  }
  30% {
    box-shadow: inset 0px 0px 10px 100px #333;
  }
  30% {
    box-shadow: inset 0px 0px 10px 100px #4d4d4d;
  }
  32% {
    box-shadow: inset 0px 0px 10px 100px #999999;
  }
  33% {
    box-shadow: inset 0px 0px 10px 100px #4d4d4d;
  }
  34% {
    box-shadow: inset 0px 0px 10px 100px #333;
  }
  36% {
    box-shadow: inset 0px 0px 10px 100px #2f2f2f;
  }
  65% {
    box-shadow: 0;
  }
}

.illumination {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 30px 15px 0;
  border-color: transparent #2f2f2f transparent transparent;
  animation: illuminationFlash 5s normal infinite;
}

@keyframes illuminationFlash {
  0% {
    border-color: transparent #2f2f2f transparent transparent;
  }
  6% {
    border-color: transparent #454436 transparent transparent;
  }
  12% {
    border-color: transparent #5B5A3D transparent transparent;
  }
  18% {
    border-color: transparent #727044 transparent transparent;
  }
  24% {
    border-color: transparent #88864B transparent transparent;
  }
  30% {
    border-color: transparent #9F9C52 transparent transparent;
  }
  36% {
    border-color: transparent #B5B259 transparent transparent;
  }
  42% {
    border-color: transparent #CCC861 transparent transparent;
  }
  48% {
    border-color: transparent #B5B259 transparent transparent;
  }
  54% {
    border-color: transparent #9F9C52 transparent transparent;
  }
  60% {
    border-color: transparent #88864B transparent transparent;
  }
  66% {
    border-color: transparent #727044 transparent transparent;
  }
  72% {
    border-color: transparent #5B5A3D transparent transparent;
  }
  78% {
    border-color: transparent #454436 transparent transparent;
  }
  84% {
    border-color: transparent #2f2f2f transparent transparent;
  }
  100% {
    border-color: transparent #2f2f2f transparent transparent;
  }
}

#myDIV {
  min-height: 500px;
  width: 70%;
}

#myDIV a {
  color: #38FFED !important;
  -webkit-transition: color 4s;
  /* Safari */
  transition: color 4s;
}

#myDIV a:hover {
  animation-name: colorchange;
  animation-duration: 4s;
  color: #FFF038 !important;
}

@keyframes colorchange {
  0% {
    color: #CC38FF;
  }
  25% {
    color: #FF3B38;
  }
  50% {
    color: #47FF38;
  }
  100% {
    color: #FF38C6;
  }
}

.background-animation {
  background-image: url(img/balloons_orange.png), url(img/balloons_white.png), url(img/balloons_green.png);
  background-repeat: no-repeat,no-repeat,no-repeat;
  background-position: bottom left,bottom center,bottom right;
  -webkit-animation-name: animatedBackground;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 8s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 6s;
  -webkit-animation-direction: alternate;
  animation-name: animatedBackground;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 6s;
  animation-direction: alternate;
  -webkit-transition: background-position 4s;
  /* Safari */
  transition: background-position 4s;
}

.background-animation-active {
  background-position: 40% 0%,50% 30px,60% 0%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 40% 0%,50% 30px,60% 0%;
  }
  25% {
    background-position: 13% 51px, 16% 51px, 22% 51px;
  }
  50% {
    background-position: 36% 51px, 64% 51px, 47% 51px;
  }
  75% {
    background-position: 52% 51px, 28% 51px, 27% 51px;
  }
  100% {
    background-position: 64% 51px, 65% 51px, 64% 51px;
  }
}

/* Standard syntax */
@keyframes animatedBackground {
  0% {
    background-position: 40% 0%,50% 30px,60% 0%;
  }
  25% {
    background-position: 36% 51px, 29% 51px, 26% 51px;
  }
  50% {
    background-position: 37% 51px, 63% 51px, 47% 51px;
  }
  75% {
    background-position: 41% 51px, 29% 51px, 41% 51px;
  }
  100% {
    background-position: 62% 51px, 31% 51px, 44% 51px;
  }
}

.sub-img {
  height: 200px !important;
  top: 70%;
  position: absolute;
  right: 0;
}

.header-text {
  margin-left: 300px;
}

.modal-dialog {
  position: relative;
  width: auto;
  max-width: 90%;
  margin: auto;
}

.search-width {
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .sub-img {
    height: 70px !important;
    top: 65%;
    position: absolute;
    right: 0;
  }
  .carousel-caption p {
    max-height: 100px;
    overflow: scroll;
  }
  .header-text {
    margin-left: 150px;
  }
}

@media screen and (max-width: 992px) {
  .sub-img {
    height: 50px !important;
    top: 65%;
    position: absolute;
    right: 0;
  }
  .carousel-caption p {
    max-height: 100px;
    overflow: scroll;
  }
  .header-text {
    margin-left: 100px;
  }
}

@media screen and (max-width: 767px) {
  nav {
    display: none;
  }
  .row.content {
    height: auto;
  }
  #myDIV {
    width: 100%;
  }
  .sub-img {
    height: 50px !important;
    top: 65%;
    position: absolute;
    right: 0;
  }
  .carousel-caption p {
    max-height: 100px;
    overflow: scroll;
  }
  .header-text {
    margin-left: 50px;
  }
  .search-width {
    width: 100%;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.img-rounded {
  border-radius: 24px;
}

.big-img {
  height: 120px !important;
}

.icon-rotate {
  transition: transform 2s;
}

.icon-rotate:hover {
  -webkit-transform: rotateX(360deg);
  -webkit-transform: rotateY(360deg);
  -webkit-transform: rotateZ(360deg);
  /* Safari */
  transform: rotateX(360deg);
  transform: rotateY(360deg);
  transform: rotateZ(360deg);
}

.small-img {
  height: 70px !important;
}

.float-left {
  float: left;
}

h4 {
  min-height: 50px;
}

h3 {
  border-bottom: solid 1px #7701E4;
}

.height30 {
  height: 30px;
}

.nav {
  margin-bottom: 10px;
}

body {
  position: relative;
}

ul.nav-pills {
  top: 20px;
  position: fixed;
}

button {
  text-align: left;
  background: transparent;
  border: none;
  padding: 0px;
  width: 100%;
}

button:focus {
  outline: none !important;
}

.glyphicon {
  color: #C7AC00;
}

#home {
  margin-top: 20px;
}

.search, .width-100 {
  width: 100%;
}

.label-primary {
  margin: 5px;
}

.background-read {
  background-color: #e1e592;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-bottom: 20px;
}

.margin-right20 {
  margin-right: 20px;
}

.bordered {
  border: 1px solid #ed8e1a;
  padding: 5px;
}

.btn-link {
  text-decoration: underline;
  text-decoration-color: purple;
  margin-top: 10px;
}

strong, .close {
  color: #7701E4 !important;
}

.form-control {
  color: #555 !important;
}

.padding-0 {
  padding: 0px;
}

.span-warp {
  line-height: 1.8;
  word-wrap: normal;
  display: inline-block;
}

.tag {
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.checkbox {
  max-height: 250px;
}

mark {
  background-color: #C7AC00;
}

.img-responsive {
  margin: 0 auto;
}

.logout {
  text-align: right;
}

.margin-top14 {
  margin-top: 14px;
}

.alert-danger {
  color: #a94442 !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(85, 85, 85, 0.5);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  width: 40px;
  text-align: center;
}

#myBtn:hover {
  background-color: #555555;
  /* Add a dark-grey background on hover */
}

/* Animation for background */
@keyframes animation1 {
  0% {
    transform: translate(828px, 895px);
  }
  5.56% {
    transform: translate(860px, 895px);
  }
  11.11% {
    transform: translate(892px, 868px);
  }
  16.67% {
    transform: translate(924px, 895px);
  }
  22.22% {
    transform: translate(956px, 922px);
  }
  27.78% {
    transform: translate(988px, 922px);
  }
  33.33% {
    transform: translate(1020px, 949px);
  }
  38.89% {
    transform: translate(1052px, 976px);
  }
  44.44% {
    transform: translate(1084px, 949px);
  }
  50% {
    transform: translate(1116px, 922px);
  }
  55.56% {
    transform: translate(1148px, 949px);
  }
  61.11% {
    transform: translate(1180px, 949px);
  }
  66.67% {
    transform: translate(1212px, 922px);
  }
  72.22% {
    transform: translate(1244px, 949px);
  }
  77.78% {
    transform: translate(1276px, 949px);
  }
  83.33% {
    transform: translate(1308px, 922px);
  }
  88.89% {
    transform: translate(1340px, 895px);
  }
  94.44% {
    transform: translate(1372px, 895px);
  }
  100% {
    transform: translate(1404px, 922px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation2 {
  0% {
    transform: translate(860px, 841px);
  }
  6.67% {
    transform: translate(892px, 868px);
  }
  13.33% {
    transform: translate(924px, 868px);
  }
  20% {
    transform: translate(956px, 895px);
  }
  26.67% {
    transform: translate(988px, 922px);
  }
  33.33% {
    transform: translate(1020px, 922px);
  }
  40% {
    transform: translate(1052px, 895px);
  }
  46.67% {
    transform: translate(1084px, 868px);
  }
  53.33% {
    transform: translate(1116px, 895px);
  }
  60% {
    transform: translate(1148px, 868px);
  }
  66.67% {
    transform: translate(1180px, 868px);
  }
  73.33% {
    transform: translate(1212px, 841px);
  }
  80% {
    transform: translate(1244px, 841px);
  }
  86.67% {
    transform: translate(1276px, 841px);
  }
  93.33% {
    transform: translate(1308px, 868px);
  }
  100% {
    transform: translate(1340px, 841px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation3 {
  0% {
    transform: translate(1052px, 868px);
  }
  7.69% {
    transform: translate(1084px, 868px);
  }
  15.38% {
    transform: translate(1116px, 868px);
  }
  23.08% {
    transform: translate(1148px, 841px);
  }
  30.77% {
    transform: translate(1180px, 814px);
  }
  38.46% {
    transform: translate(1212px, 814px);
  }
  46.15% {
    transform: translate(1244px, 841px);
  }
  53.85% {
    transform: translate(1276px, 868px);
  }
  61.54% {
    transform: translate(1308px, 868px);
  }
  69.23% {
    transform: translate(1340px, 841px);
  }
  76.92% {
    transform: translate(1372px, 868px);
  }
  84.62% {
    transform: translate(1404px, 841px);
  }
  92.31% {
    transform: translate(1436px, 841px);
  }
  100% {
    transform: translate(1468px, 814px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation4 {
  0% {
    transform: translate(540px, -23px);
  }
  11.11% {
    transform: translate(572px, -23px);
  }
  22.22% {
    transform: translate(604px, -23px);
  }
  33.33% {
    transform: translate(636px, -23px);
  }
  44.44% {
    transform: translate(668px, -23px);
  }
  55.56% {
    transform: translate(700px, -50px);
  }
  66.67% {
    transform: translate(732px, -50px);
  }
  77.78% {
    transform: translate(764px, -50px);
  }
  88.89% {
    transform: translate(796px, -50px);
  }
  100% {
    transform: translate(828px, -50px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation5 {
  0% {
    transform: translate(988px, 382px);
  }
  11.11% {
    transform: translate(1020px, 382px);
  }
  22.22% {
    transform: translate(1052px, 382px);
  }
  33.33% {
    transform: translate(1084px, 355px);
  }
  44.44% {
    transform: translate(1116px, 382px);
  }
  55.56% {
    transform: translate(1148px, 409px);
  }
  66.67% {
    transform: translate(1180px, 436px);
  }
  77.78% {
    transform: translate(1212px, 436px);
  }
  88.89% {
    transform: translate(1244px, 463px);
  }
  100% {
    transform: translate(1276px, 463px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation6 {
  0% {
    transform: translate(-100px, 166px);
  }
  2.94% {
    transform: translate(-68px, 139px);
  }
  5.88% {
    transform: translate(-36px, 166px);
  }
  8.82% {
    transform: translate(-4px, 193px);
  }
  11.76% {
    transform: translate(28px, 166px);
  }
  14.71% {
    transform: translate(60px, 139px);
  }
  17.65% {
    transform: translate(92px, 139px);
  }
  20.59% {
    transform: translate(124px, 166px);
  }
  23.53% {
    transform: translate(156px, 166px);
  }
  26.47% {
    transform: translate(188px, 166px);
  }
  29.41% {
    transform: translate(220px, 139px);
  }
  32.35% {
    transform: translate(252px, 139px);
  }
  35.29% {
    transform: translate(284px, 166px);
  }
  38.24% {
    transform: translate(316px, 193px);
  }
  41.18% {
    transform: translate(348px, 193px);
  }
  44.12% {
    transform: translate(380px, 166px);
  }
  47.06% {
    transform: translate(412px, 139px);
  }
  50% {
    transform: translate(444px, 112px);
  }
  52.94% {
    transform: translate(476px, 139px);
  }
  55.88% {
    transform: translate(508px, 166px);
  }
  58.82% {
    transform: translate(540px, 139px);
  }
  61.76% {
    transform: translate(572px, 166px);
  }
  64.71% {
    transform: translate(604px, 193px);
  }
  67.65% {
    transform: translate(636px, 220px);
  }
  70.59% {
    transform: translate(668px, 220px);
  }
  73.53% {
    transform: translate(700px, 247px);
  }
  76.47% {
    transform: translate(732px, 247px);
  }
  79.41% {
    transform: translate(764px, 274px);
  }
  82.35% {
    transform: translate(796px, 274px);
  }
  85.29% {
    transform: translate(828px, 274px);
  }
  88.24% {
    transform: translate(860px, 301px);
  }
  91.18% {
    transform: translate(892px, 274px);
  }
  94.12% {
    transform: translate(924px, 301px);
  }
  97.06% {
    transform: translate(956px, 301px);
  }
  100% {
    transform: translate(988px, 328px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation7 {
  0% {
    transform: translate(28px, 220px);
  }
  5.56% {
    transform: translate(60px, 247px);
  }
  11.11% {
    transform: translate(92px, 274px);
  }
  16.67% {
    transform: translate(124px, 247px);
  }
  22.22% {
    transform: translate(156px, 220px);
  }
  27.78% {
    transform: translate(188px, 193px);
  }
  33.33% {
    transform: translate(220px, 220px);
  }
  38.89% {
    transform: translate(252px, 220px);
  }
  44.44% {
    transform: translate(284px, 193px);
  }
  50% {
    transform: translate(316px, 193px);
  }
  55.56% {
    transform: translate(348px, 166px);
  }
  61.11% {
    transform: translate(380px, 193px);
  }
  66.67% {
    transform: translate(412px, 193px);
  }
  72.22% {
    transform: translate(444px, 193px);
  }
  77.78% {
    transform: translate(476px, 220px);
  }
  83.33% {
    transform: translate(508px, 220px);
  }
  88.89% {
    transform: translate(540px, 247px);
  }
  94.44% {
    transform: translate(572px, 247px);
  }
  100% {
    transform: translate(604px, 220px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation8 {
  0% {
    transform: translate(604px, 571px);
  }
  3.85% {
    transform: translate(636px, 544px);
  }
  7.69% {
    transform: translate(668px, 571px);
  }
  11.54% {
    transform: translate(700px, 571px);
  }
  15.38% {
    transform: translate(732px, 571px);
  }
  19.23% {
    transform: translate(764px, 598px);
  }
  23.08% {
    transform: translate(796px, 625px);
  }
  26.92% {
    transform: translate(828px, 598px);
  }
  30.77% {
    transform: translate(860px, 571px);
  }
  34.62% {
    transform: translate(892px, 598px);
  }
  38.46% {
    transform: translate(924px, 625px);
  }
  42.31% {
    transform: translate(956px, 652px);
  }
  46.15% {
    transform: translate(988px, 652px);
  }
  50% {
    transform: translate(1020px, 625px);
  }
  53.85% {
    transform: translate(1052px, 598px);
  }
  57.69% {
    transform: translate(1084px, 598px);
  }
  61.54% {
    transform: translate(1116px, 571px);
  }
  65.38% {
    transform: translate(1148px, 544px);
  }
  69.23% {
    transform: translate(1180px, 571px);
  }
  73.08% {
    transform: translate(1212px, 571px);
  }
  76.92% {
    transform: translate(1244px, 544px);
  }
  80.77% {
    transform: translate(1276px, 517px);
  }
  84.62% {
    transform: translate(1308px, 517px);
  }
  88.46% {
    transform: translate(1340px, 544px);
  }
  92.31% {
    transform: translate(1372px, 517px);
  }
  96.15% {
    transform: translate(1404px, 544px);
  }
  100% {
    transform: translate(1436px, 517px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation9 {
  0% {
    transform: translate(-68px, 382px);
  }
  2.78% {
    transform: translate(-36px, 409px);
  }
  5.56% {
    transform: translate(-4px, 409px);
  }
  8.33% {
    transform: translate(28px, 436px);
  }
  11.11% {
    transform: translate(60px, 409px);
  }
  13.89% {
    transform: translate(92px, 409px);
  }
  16.67% {
    transform: translate(124px, 409px);
  }
  19.44% {
    transform: translate(156px, 436px);
  }
  22.22% {
    transform: translate(188px, 436px);
  }
  25% {
    transform: translate(220px, 436px);
  }
  27.78% {
    transform: translate(252px, 409px);
  }
  30.56% {
    transform: translate(284px, 436px);
  }
  33.33% {
    transform: translate(316px, 436px);
  }
  36.11% {
    transform: translate(348px, 409px);
  }
  38.89% {
    transform: translate(380px, 436px);
  }
  41.67% {
    transform: translate(412px, 436px);
  }
  44.44% {
    transform: translate(444px, 436px);
  }
  47.22% {
    transform: translate(476px, 436px);
  }
  50% {
    transform: translate(508px, 409px);
  }
  52.78% {
    transform: translate(540px, 436px);
  }
  55.56% {
    transform: translate(572px, 436px);
  }
  58.33% {
    transform: translate(604px, 409px);
  }
  61.11% {
    transform: translate(636px, 382px);
  }
  63.89% {
    transform: translate(668px, 382px);
  }
  66.67% {
    transform: translate(700px, 382px);
  }
  69.44% {
    transform: translate(732px, 409px);
  }
  72.22% {
    transform: translate(764px, 382px);
  }
  75% {
    transform: translate(796px, 355px);
  }
  77.78% {
    transform: translate(828px, 355px);
  }
  80.56% {
    transform: translate(860px, 355px);
  }
  83.33% {
    transform: translate(892px, 355px);
  }
  86.11% {
    transform: translate(924px, 382px);
  }
  88.89% {
    transform: translate(956px, 409px);
  }
  91.67% {
    transform: translate(988px, 382px);
  }
  94.44% {
    transform: translate(1020px, 382px);
  }
  97.22% {
    transform: translate(1052px, 355px);
  }
  100% {
    transform: translate(1084px, 328px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation10 {
  0% {
    transform: translate(348px, 328px);
  }
  33.33% {
    transform: translate(380px, 301px);
  }
  66.67% {
    transform: translate(412px, 274px);
  }
  100% {
    transform: translate(444px, 274px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation11 {
  0% {
    transform: translate(700px, 409px);
  }
  7.69% {
    transform: translate(732px, 382px);
  }
  15.38% {
    transform: translate(764px, 382px);
  }
  23.08% {
    transform: translate(796px, 409px);
  }
  30.77% {
    transform: translate(828px, 409px);
  }
  38.46% {
    transform: translate(860px, 436px);
  }
  46.15% {
    transform: translate(892px, 463px);
  }
  53.85% {
    transform: translate(924px, 463px);
  }
  61.54% {
    transform: translate(956px, 436px);
  }
  69.23% {
    transform: translate(988px, 436px);
  }
  76.92% {
    transform: translate(1020px, 436px);
  }
  84.62% {
    transform: translate(1052px, 409px);
  }
  92.31% {
    transform: translate(1084px, 382px);
  }
  100% {
    transform: translate(1116px, 409px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation12 {
  0% {
    transform: translate(92px, 598px);
  }
  2.44% {
    transform: translate(124px, 625px);
  }
  4.88% {
    transform: translate(156px, 598px);
  }
  7.32% {
    transform: translate(188px, 571px);
  }
  9.76% {
    transform: translate(220px, 571px);
  }
  12.2% {
    transform: translate(252px, 544px);
  }
  14.63% {
    transform: translate(284px, 571px);
  }
  17.07% {
    transform: translate(316px, 571px);
  }
  19.51% {
    transform: translate(348px, 571px);
  }
  21.95% {
    transform: translate(380px, 598px);
  }
  24.39% {
    transform: translate(412px, 598px);
  }
  26.83% {
    transform: translate(444px, 625px);
  }
  29.27% {
    transform: translate(476px, 652px);
  }
  31.71% {
    transform: translate(508px, 652px);
  }
  34.15% {
    transform: translate(540px, 652px);
  }
  36.59% {
    transform: translate(572px, 652px);
  }
  39.02% {
    transform: translate(604px, 679px);
  }
  41.46% {
    transform: translate(636px, 679px);
  }
  43.9% {
    transform: translate(668px, 679px);
  }
  46.34% {
    transform: translate(700px, 679px);
  }
  48.78% {
    transform: translate(732px, 679px);
  }
  51.22% {
    transform: translate(764px, 679px);
  }
  53.66% {
    transform: translate(796px, 706px);
  }
  56.1% {
    transform: translate(828px, 733px);
  }
  58.54% {
    transform: translate(860px, 760px);
  }
  60.98% {
    transform: translate(892px, 733px);
  }
  63.41% {
    transform: translate(924px, 706px);
  }
  65.85% {
    transform: translate(956px, 733px);
  }
  68.29% {
    transform: translate(988px, 706px);
  }
  70.73% {
    transform: translate(1020px, 679px);
  }
  73.17% {
    transform: translate(1052px, 706px);
  }
  75.61% {
    transform: translate(1084px, 733px);
  }
  78.05% {
    transform: translate(1116px, 760px);
  }
  80.49% {
    transform: translate(1148px, 787px);
  }
  82.93% {
    transform: translate(1180px, 760px);
  }
  85.37% {
    transform: translate(1212px, 760px);
  }
  87.8% {
    transform: translate(1244px, 787px);
  }
  90.24% {
    transform: translate(1276px, 760px);
  }
  92.68% {
    transform: translate(1308px, 733px);
  }
  95.12% {
    transform: translate(1340px, 760px);
  }
  97.56% {
    transform: translate(1372px, 733px);
  }
  100% {
    transform: translate(1404px, 760px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation13 {
  0% {
    transform: translate(-100px, 868px);
  }
  3.45% {
    transform: translate(-68px, 841px);
  }
  6.9% {
    transform: translate(-36px, 868px);
  }
  10.34% {
    transform: translate(-4px, 841px);
  }
  13.79% {
    transform: translate(28px, 841px);
  }
  17.24% {
    transform: translate(60px, 814px);
  }
  20.69% {
    transform: translate(92px, 841px);
  }
  24.14% {
    transform: translate(124px, 814px);
  }
  27.59% {
    transform: translate(156px, 841px);
  }
  31.03% {
    transform: translate(188px, 841px);
  }
  34.48% {
    transform: translate(220px, 814px);
  }
  37.93% {
    transform: translate(252px, 814px);
  }
  41.38% {
    transform: translate(284px, 787px);
  }
  44.83% {
    transform: translate(316px, 814px);
  }
  48.28% {
    transform: translate(348px, 814px);
  }
  51.72% {
    transform: translate(380px, 841px);
  }
  55.17% {
    transform: translate(412px, 868px);
  }
  58.62% {
    transform: translate(444px, 868px);
  }
  62.07% {
    transform: translate(476px, 868px);
  }
  65.52% {
    transform: translate(508px, 841px);
  }
  68.97% {
    transform: translate(540px, 814px);
  }
  72.41% {
    transform: translate(572px, 814px);
  }
  75.86% {
    transform: translate(604px, 841px);
  }
  79.31% {
    transform: translate(636px, 814px);
  }
  82.76% {
    transform: translate(668px, 787px);
  }
  86.21% {
    transform: translate(700px, 814px);
  }
  89.66% {
    transform: translate(732px, 841px);
  }
  93.1% {
    transform: translate(764px, 814px);
  }
  96.55% {
    transform: translate(796px, 814px);
  }
  100% {
    transform: translate(828px, 841px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation14 {
  0% {
    transform: translate(284px, 409px);
  }
  25% {
    transform: translate(316px, 436px);
  }
  50% {
    transform: translate(348px, 463px);
  }
  75% {
    transform: translate(380px, 490px);
  }
  100% {
    transform: translate(412px, 490px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation15 {
  0% {
    transform: translate(188px, 949px);
  }
  2.86% {
    transform: translate(220px, 949px);
  }
  5.71% {
    transform: translate(252px, 949px);
  }
  8.57% {
    transform: translate(284px, 976px);
  }
  11.43% {
    transform: translate(316px, 1003px);
  }
  14.29% {
    transform: translate(348px, 976px);
  }
  17.14% {
    transform: translate(380px, 1003px);
  }
  20% {
    transform: translate(412px, 1003px);
  }
  22.86% {
    transform: translate(444px, 976px);
  }
  25.71% {
    transform: translate(476px, 976px);
  }
  28.57% {
    transform: translate(508px, 1003px);
  }
  31.43% {
    transform: translate(540px, 976px);
  }
  34.29% {
    transform: translate(572px, 976px);
  }
  37.14% {
    transform: translate(604px, 949px);
  }
  40% {
    transform: translate(636px, 949px);
  }
  42.86% {
    transform: translate(668px, 949px);
  }
  45.71% {
    transform: translate(700px, 949px);
  }
  48.57% {
    transform: translate(732px, 976px);
  }
  51.43% {
    transform: translate(764px, 1003px);
  }
  54.29% {
    transform: translate(796px, 1003px);
  }
  57.14% {
    transform: translate(828px, 1003px);
  }
  60% {
    transform: translate(860px, 1003px);
  }
  62.86% {
    transform: translate(892px, 1003px);
  }
  65.71% {
    transform: translate(924px, 976px);
  }
  68.57% {
    transform: translate(956px, 949px);
  }
  71.43% {
    transform: translate(988px, 949px);
  }
  74.29% {
    transform: translate(1020px, 922px);
  }
  77.14% {
    transform: translate(1052px, 895px);
  }
  80% {
    transform: translate(1084px, 922px);
  }
  82.86% {
    transform: translate(1116px, 922px);
  }
  85.71% {
    transform: translate(1148px, 922px);
  }
  88.57% {
    transform: translate(1180px, 949px);
  }
  91.43% {
    transform: translate(1212px, 976px);
  }
  94.29% {
    transform: translate(1244px, 1003px);
  }
  97.14% {
    transform: translate(1276px, 1030px);
  }
  100% {
    transform: translate(1308px, 1057px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation16 {
  0% {
    transform: translate(60px, 571px);
  }
  10% {
    transform: translate(92px, 598px);
  }
  20% {
    transform: translate(124px, 625px);
  }
  30% {
    transform: translate(156px, 598px);
  }
  40% {
    transform: translate(188px, 625px);
  }
  50% {
    transform: translate(220px, 625px);
  }
  60% {
    transform: translate(252px, 652px);
  }
  70% {
    transform: translate(284px, 625px);
  }
  80% {
    transform: translate(316px, 625px);
  }
  90% {
    transform: translate(348px, 652px);
  }
  100% {
    transform: translate(380px, 625px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation17 {
  0% {
    transform: translate(476px, 220px);
  }
  5.56% {
    transform: translate(508px, 247px);
  }
  11.11% {
    transform: translate(540px, 220px);
  }
  16.67% {
    transform: translate(572px, 193px);
  }
  22.22% {
    transform: translate(604px, 166px);
  }
  27.78% {
    transform: translate(636px, 139px);
  }
  33.33% {
    transform: translate(668px, 166px);
  }
  38.89% {
    transform: translate(700px, 166px);
  }
  44.44% {
    transform: translate(732px, 193px);
  }
  50% {
    transform: translate(764px, 193px);
  }
  55.56% {
    transform: translate(796px, 193px);
  }
  61.11% {
    transform: translate(828px, 166px);
  }
  66.67% {
    transform: translate(860px, 193px);
  }
  72.22% {
    transform: translate(892px, 193px);
  }
  77.78% {
    transform: translate(924px, 220px);
  }
  83.33% {
    transform: translate(956px, 247px);
  }
  88.89% {
    transform: translate(988px, 220px);
  }
  94.44% {
    transform: translate(1020px, 220px);
  }
  100% {
    transform: translate(1052px, 220px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation18 {
  0% {
    transform: translate(-4px, -50px);
  }
  25% {
    transform: translate(28px, -23px);
  }
  50% {
    transform: translate(60px, 4px);
  }
  75% {
    transform: translate(92px, 4px);
  }
  100% {
    transform: translate(124px, 31px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation19 {
  0% {
    transform: translate(700px, 922px);
  }
  5% {
    transform: translate(732px, 949px);
  }
  10% {
    transform: translate(764px, 922px);
  }
  15% {
    transform: translate(796px, 895px);
  }
  20% {
    transform: translate(828px, 895px);
  }
  25% {
    transform: translate(860px, 868px);
  }
  30% {
    transform: translate(892px, 895px);
  }
  35% {
    transform: translate(924px, 895px);
  }
  40% {
    transform: translate(956px, 868px);
  }
  45% {
    transform: translate(988px, 868px);
  }
  50% {
    transform: translate(1020px, 895px);
  }
  55% {
    transform: translate(1052px, 868px);
  }
  60% {
    transform: translate(1084px, 868px);
  }
  65% {
    transform: translate(1116px, 868px);
  }
  70% {
    transform: translate(1148px, 841px);
  }
  75% {
    transform: translate(1180px, 814px);
  }
  80% {
    transform: translate(1212px, 841px);
  }
  85% {
    transform: translate(1244px, 814px);
  }
  90% {
    transform: translate(1276px, 841px);
  }
  95% {
    transform: translate(1308px, 841px);
  }
  100% {
    transform: translate(1340px, 868px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.particle {
  position: absolute;
  opacity: 0;
  overflow: visible;
  background-size: contain;
}

.elem1 {
  left: -4px;
  top: 166px;
  animation: animation1 linear 18s infinite;
  height: 17px;
  width: 17px;
  background-image: url(http://vc35photography.epizy.com/img/camera-shutter.svg);
}

.elem2 {
  left: 188px;
  top: -23px;
  animation: animation2 linear 16s infinite;
  height: 14px;
  width: 14px;
  background-image: url(http://vc35photography.epizy.com/img/photo-camera.svg);
}

.elem3 {
  left: 28px;
  top: 193px;
  animation: animation3 linear 17s infinite;
  height: 18px;
  width: 18px;
  background-image: url(http://vc35photography.epizy.com/img/spark-green.svg);
}

.elem4 {
  left: 156px;
  top: 193px;
  animation: animation4 linear 17s infinite;
  height: 17px;
  width: 17px;
  background-image: url(http://vc35photography.epizy.com/img/spark-white.svg);
}

.elem5 {
  left: 28px;
  top: -23px;
  animation: animation5 linear 16s infinite;
  height: 24px;
  width: 24px;
  background-image: url(http://vc35photography.epizy.com/img/buddhism-wheel.svg);
}

.elem6 {
  left: -36px;
  top: -23px;
  animation: animation6 linear 18s infinite;
  height: 23px;
  width: 23px;
  background-image: url(http://vc35photography.epizy.com/img/camera-shutter.svg);
}

.elem7 {
  left: -68px;
  top: 85px;
  animation: animation7 linear 17s infinite;
  height: 25px;
  width: 25px;
  background-image: url(http://vc35photography.epizy.com/img/photo-camera.svg);
}

.elem8 {
  left: 156px;
  top: 193px;
  animation: animation8 linear 18s infinite;
  height: 29px;
  width: 29px;
  background-image: url(http://vc35photography.epizy.com/img/spark-green.svg);
}

.elem9 {
  left: 92px;
  top: 112px;
  animation: animation9 linear 20s infinite;
  height: 16px;
  width: 16px;
  background-image: url(http://vc35photography.epizy.com/img/spark-white.svg);
}

.elem10 {
  left: -4px;
  top: 31px;
  animation: animation10 linear 20s infinite;
  height: 18px;
  width: 18px;
  background-image: url(http://vc35photography.epizy.com/img/buddhism-wheel.svg);
}

.elem11 {
  left: -36px;
  top: 166px;
  animation: animation11 linear 18s infinite;
  height: 23px;
  width: 23px;
  background-image: url(http://vc35photography.epizy.com/img/camera-shutter.svg);
}

.elem12 {
  left: 60px;
  top: 166px;
  animation: animation12 linear 20s infinite;
  height: 25px;
  width: 25px;
  background-image: url(http://vc35photography.epizy.com/img/photo-camera.svg);
}

.elem13 {
  left: 188px;
  top: 166px;
  animation: animation13 linear 17s infinite;
  height: 23px;
  width: 23px;
  background-image: url(http://vc35photography.epizy.com/img/spark-green.svg);
}

.elem14 {
  left: -100px;
  top: 4px;
  animation: animation14 linear 20s infinite;
  height: 29px;
  width: 29px;
  background-image: url(http://vc35photography.epizy.com/img/spark-white.svg);
}

.elem15 {
  left: -68px;
  top: 112px;
  animation: animation15 linear 19s infinite;
  height: 17px;
  width: 17px;
  background-image: url(http://vc35photography.epizy.com/img/buddhism-wheel.svg);
}

.elem16 {
  left: -4px;
  top: -23px;
  animation: animation16 linear 17s infinite;
  height: 17px;
  width: 17px;
  background-image: url(http://vc35photography.epizy.com/img/camera-shutter.svg);
}

.elem17 {
  left: 156px;
  top: 4px;
  animation: animation17 linear 17s infinite;
  height: 27px;
  width: 27px;
  background-image: url(http://vc35photography.epizy.com/img/photo-camera.svg);
}

.elem18 {
  left: -68px;
  top: -23px;
  animation: animation18 linear 20s infinite;
  height: 31px;
  width: 31px;
  background-image: url(http://vc35photography.epizy.com/img/spark-green.svg);
}

.elem19 {
  left: -68px;
  top: 139px;
  animation: animation19 linear 19s infinite;
  height: 26px;
  width: 26px;
  background-image: url(http://vc35photography.epizy.com/img/spark-white.svg);
}

.anim-delay1 {
  animation-delay: 1s;
}

.anim-delay2 {
  animation-delay: 4s;
}

.anim-delay3 {
  animation-delay: 1s;
}

.anim-delay4 {
  animation-delay: 1s;
}

.anim-delay5 {
  animation-delay: 3s;
}

.anim-delay6 {
  animation-delay: 4s;
}

.anim-delay7 {
  animation-delay: 1s;
}

.anim-delay8 {
  animation-delay: 5s;
}

.anim-delay9 {
  animation-delay: 2s;
}

.anim-delay10 {
  animation-delay: 2s;
}

.anim-delay11 {
  animation-delay: 5s;
}

.anim-delay12 {
  animation-delay: 5s;
}

.anim-delay13 {
  animation-delay: 5s;
}

.anim-delay14 {
  animation-delay: 2s;
}

.anim-delay15 {
  animation-delay: 1s;
}

.anim-delay16 {
  animation-delay: 4s;
}

.anim-delay17 {
  animation-delay: 2s;
}

.anim-delay18 {
  animation-delay: 1s;
}

.anim-delay19 {
  animation-delay: 2s;
}

.anim-delay20 {
  animation-delay: 1s;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background: #2f2f2f;
  position: relative;
}
/*# sourceMappingURL=style.css.map */