.select2-results {
  background-color: #7701E4;
}

.select2-results:active, .select2-results:hover {
  background-color: #7701E4;
}

.select2-select2-selection__choice {
  color: #7701E4 !important;
}

.nav > li.active > a {
  background-color: #7701E4;
  opacity: 0.8;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #7701E4;
  opacity: 0.8;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
html * {
  color: #e2e2e2 !important;
}

input, textarea, select {
  color: #6d6d6d !important;
}

.selec2 {
  color: black !important;
}

.container-fluid, .container, .modal-content {
  background-color: #2f2f2f;
}

.row.content {
  height: 1500px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 3s ease-out 0s 1 slideInFromLeft;
}

footer p {
  margin: 0 auto;
  transition: transform 2s;
}

footer p:hover {
  -webkit-transform: rotateY(360deg);
  /* Safari */
  transform: rotateY(360deg);
  color: #7701E4 !important;
}

footer img {
  margin-left: -10px;
  margin-bottom: -5px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.shutterClick {
  height: 10px;
  width: 10px;
  display: inline-block;
  vertical-align: middle;
  animation: cameraFlash 5s alternate-reverse infinite;
  background-color: #2f2f2f;
}

@keyframes cameraFlash {
  0% {
    box-shadow: 0;
  }
  29% {
    box-shadow: inset 0px 0px 10px 100px #2f2f2f;
  }
  30% {
    box-shadow: inset 0px 0px 10px 100px #333;
  }
  30% {
    box-shadow: inset 0px 0px 10px 100px #4d4d4d;
  }
  32% {
    box-shadow: inset 0px 0px 10px 100px #999999;
  }
  33% {
    box-shadow: inset 0px 0px 10px 100px #4d4d4d;
  }
  34% {
    box-shadow: inset 0px 0px 10px 100px #333;
  }
  36% {
    box-shadow: inset 0px 0px 10px 100px #2f2f2f;
  }
  65% {
    box-shadow: 0;
  }
}

.illumination {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 30px 15px 0;
  border-color: transparent #2f2f2f transparent transparent;
  animation: illuminationFlash 5s normal infinite;
}

@keyframes illuminationFlash {
  0% {
    border-color: transparent #2f2f2f transparent transparent;
  }
  6% {
    border-color: transparent #454436 transparent transparent;
  }
  12% {
    border-color: transparent #5B5A3D transparent transparent;
  }
  18% {
    border-color: transparent #727044 transparent transparent;
  }
  24% {
    border-color: transparent #88864B transparent transparent;
  }
  30% {
    border-color: transparent #9F9C52 transparent transparent;
  }
  36% {
    border-color: transparent #B5B259 transparent transparent;
  }
  42% {
    border-color: transparent #CCC861 transparent transparent;
  }
  48% {
    border-color: transparent #B5B259 transparent transparent;
  }
  54% {
    border-color: transparent #9F9C52 transparent transparent;
  }
  60% {
    border-color: transparent #88864B transparent transparent;
  }
  66% {
    border-color: transparent #727044 transparent transparent;
  }
  72% {
    border-color: transparent #5B5A3D transparent transparent;
  }
  78% {
    border-color: transparent #454436 transparent transparent;
  }
  84% {
    border-color: transparent #2f2f2f transparent transparent;
  }
  100% {
    border-color: transparent #2f2f2f transparent transparent;
  }
}

#myDIV {
  min-height: 500px;
  width: 70%;
}

#myDIV a {
  color: #38FFED !important;
  -webkit-transition: color 4s;
  /* Safari */
  transition: color 4s;
}

#myDIV a:hover {
  animation-name: colorchange;
  animation-duration: 4s;
  color: #FFF038 !important;
}

@keyframes colorchange {
  0% {
    color: #CC38FF;
  }
  25% {
    color: #FF3B38;
  }
  50% {
    color: #47FF38;
  }
  100% {
    color: #FF38C6;
  }
}

.background-animation {
  background-image: url(img/balloons_orange.png), url(img/balloons_white.png), url(img/balloons_green.png);
  background-repeat: no-repeat,no-repeat,no-repeat;
  background-position: bottom left,bottom center,bottom right;
  -webkit-animation-name: animatedBackground;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 8s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 6s;
  -webkit-animation-direction: alternate;
  animation-name: animatedBackground;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 6s;
  animation-direction: alternate;
  -webkit-transition: background-position 4s;
  /* Safari */
  transition: background-position 4s;
}

.background-animation-active {
  background-position: 40% 0%,50% 30px,60% 0%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 40% 0%,50% 30px,60% 0%;
  }
  25% {
    background-position: 28% 51px, 22% 51px, 32% 51px;
  }
  50% {
    background-position: 48% 51px, 40% 51px, 65% 51px;
  }
  75% {
    background-position: 45% 51px, 24% 51px, 49% 51px;
  }
  100% {
    background-position: 33% 51px, 39% 51px, 50% 51px;
  }
}

/* Standard syntax */
@keyframes animatedBackground {
  0% {
    background-position: 40% 0%,50% 30px,60% 0%;
  }
  25% {
    background-position: 26% 51px, 39% 51px, 25% 51px;
  }
  50% {
    background-position: 65% 51px, 33% 51px, 58% 51px;
  }
  75% {
    background-position: 39% 51px, 34% 51px, 25% 51px;
  }
  100% {
    background-position: 57% 51px, 42% 51px, 56% 51px;
  }
}

.sub-img {
  height: 200px !important;
  top: 70%;
  position: absolute;
  right: 0;
}

.header-text {
  margin-left: 300px;
}

.modal-dialog {
  position: relative;
  width: auto;
  max-width: 90%;
  margin: auto;
}

.search-width {
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .sub-img {
    height: 70px !important;
    top: 65%;
    position: absolute;
    right: 0;
  }
  .carousel-caption p {
    max-height: 100px;
    overflow: scroll;
  }
  .header-text {
    margin-left: 150px;
  }
}

@media screen and (max-width: 992px) {
  .sub-img {
    height: 50px !important;
    top: 65%;
    position: absolute;
    right: 0;
  }
  .carousel-caption p {
    max-height: 100px;
    overflow: scroll;
  }
  .header-text {
    margin-left: 100px;
  }
}

@media screen and (max-width: 767px) {
  nav {
    display: none;
  }
  .row.content {
    height: auto;
  }
  #myDIV {
    width: 100%;
  }
  .sub-img {
    height: 50px !important;
    top: 65%;
    position: absolute;
    right: 0;
  }
  .carousel-caption p {
    max-height: 100px;
    overflow: scroll;
  }
  .header-text {
    margin-left: 50px;
  }
  .search-width {
    width: 100%;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.img-rounded {
  border-radius: 24px;
}

.big-img {
  height: 120px !important;
}

.icon-rotate {
  transition: transform 2s;
}

.icon-rotate:hover {
  -webkit-transform: rotateX(360deg);
  -webkit-transform: rotateY(360deg);
  -webkit-transform: rotateZ(360deg);
  /* Safari */
  transform: rotateX(360deg);
  transform: rotateY(360deg);
  transform: rotateZ(360deg);
}

.small-img {
  height: 70px !important;
}

.float-left {
  float: left;
}

h4 {
  min-height: 50px;
}

h3 {
  border-bottom: solid 1px #7701E4;
}

.height30 {
  height: 30px;
}

.nav {
  margin-bottom: 10px;
}

body {
  position: relative;
  background-color: #2f2f2f;
}

ul.nav-pills {
  top: 20px;
  position: fixed;
}

button {
  text-align: left;
  background: transparent;
  border: none;
  padding: 0px;
  width: 100%;
}

button:focus {
  outline: none !important;
}

.glyphicon {
  color: #C7AC00;
}

#home {
  margin-top: 20px;
}

.search, .width-100 {
  width: 100%;
}

.label-primary {
  margin: 5px;
}

.background-read {
  background-color: #e1e592;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-bottom: 20px;
}

.margin-right20 {
  margin-right: 20px;
}

.bordered {
  border: 1px solid #ed8e1a;
  padding: 5px;
}

.btn-link {
  text-decoration: underline;
  text-decoration-color: purple;
  margin-top: 10px;
}

strong, .close {
  color: #7701E4 !important;
}

.form-control {
  color: #555 !important;
}

.padding-0 {
  padding: 0px;
}

.padding-10-0 {
  padding: 10px 0px;
}

.span-warp {
  line-height: 1.8;
  word-wrap: normal;
  display: inline-block;
}

.tag {
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.checkbox {
  max-height: 250px;
}

mark {
  background-color: #C7AC00;
}

.img-responsive {
  margin: 0 auto;
}

.logout {
  float: right;
}

.margin-top14 {
  margin-top: 14px;
}

.alert-danger {
  color: #a94442 !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(85, 85, 85, 0.5);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  width: 40px;
  text-align: center;
}

#myBtn:hover {
  background-color: #555555;
  /* Add a dark-grey background on hover */
}

/* Animation for background */
@keyframes animation1 {
  0% {
    transform: translate(316px, 4px);
  }
  4% {
    transform: translate(348px, 4px);
  }
  8% {
    transform: translate(380px, 31px);
  }
  12% {
    transform: translate(412px, 58px);
  }
  16% {
    transform: translate(444px, 85px);
  }
  20% {
    transform: translate(476px, 85px);
  }
  24% {
    transform: translate(508px, 112px);
  }
  28% {
    transform: translate(540px, 85px);
  }
  32% {
    transform: translate(572px, 112px);
  }
  36% {
    transform: translate(604px, 139px);
  }
  40% {
    transform: translate(636px, 112px);
  }
  44% {
    transform: translate(668px, 112px);
  }
  48% {
    transform: translate(700px, 112px);
  }
  52% {
    transform: translate(732px, 112px);
  }
  56% {
    transform: translate(764px, 85px);
  }
  60% {
    transform: translate(796px, 58px);
  }
  64% {
    transform: translate(828px, 31px);
  }
  68% {
    transform: translate(860px, 31px);
  }
  72% {
    transform: translate(892px, 58px);
  }
  76% {
    transform: translate(924px, 31px);
  }
  80% {
    transform: translate(956px, 31px);
  }
  84% {
    transform: translate(988px, 4px);
  }
  88% {
    transform: translate(1020px, 31px);
  }
  92% {
    transform: translate(1052px, 58px);
  }
  96% {
    transform: translate(1084px, 58px);
  }
  100% {
    transform: translate(1116px, 31px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation2 {
  0% {
    transform: translate(124px, 598px);
  }
  14.29% {
    transform: translate(156px, 625px);
  }
  28.57% {
    transform: translate(188px, 598px);
  }
  42.86% {
    transform: translate(220px, 571px);
  }
  57.14% {
    transform: translate(252px, 598px);
  }
  71.43% {
    transform: translate(284px, 598px);
  }
  85.71% {
    transform: translate(316px, 571px);
  }
  100% {
    transform: translate(348px, 598px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation3 {
  0% {
    transform: translate(828px, 112px);
  }
  7.69% {
    transform: translate(860px, 85px);
  }
  15.38% {
    transform: translate(892px, 85px);
  }
  23.08% {
    transform: translate(924px, 85px);
  }
  30.77% {
    transform: translate(956px, 85px);
  }
  38.46% {
    transform: translate(988px, 112px);
  }
  46.15% {
    transform: translate(1020px, 112px);
  }
  53.85% {
    transform: translate(1052px, 139px);
  }
  61.54% {
    transform: translate(1084px, 139px);
  }
  69.23% {
    transform: translate(1116px, 112px);
  }
  76.92% {
    transform: translate(1148px, 85px);
  }
  84.62% {
    transform: translate(1180px, 112px);
  }
  92.31% {
    transform: translate(1212px, 139px);
  }
  100% {
    transform: translate(1244px, 166px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation4 {
  0% {
    transform: translate(60px, 220px);
  }
  3.7% {
    transform: translate(92px, 247px);
  }
  7.41% {
    transform: translate(124px, 274px);
  }
  11.11% {
    transform: translate(156px, 247px);
  }
  14.81% {
    transform: translate(188px, 274px);
  }
  18.52% {
    transform: translate(220px, 301px);
  }
  22.22% {
    transform: translate(252px, 274px);
  }
  25.93% {
    transform: translate(284px, 274px);
  }
  29.63% {
    transform: translate(316px, 301px);
  }
  33.33% {
    transform: translate(348px, 328px);
  }
  37.04% {
    transform: translate(380px, 355px);
  }
  40.74% {
    transform: translate(412px, 382px);
  }
  44.44% {
    transform: translate(444px, 409px);
  }
  48.15% {
    transform: translate(476px, 409px);
  }
  51.85% {
    transform: translate(508px, 436px);
  }
  55.56% {
    transform: translate(540px, 409px);
  }
  59.26% {
    transform: translate(572px, 382px);
  }
  62.96% {
    transform: translate(604px, 409px);
  }
  66.67% {
    transform: translate(636px, 409px);
  }
  70.37% {
    transform: translate(668px, 382px);
  }
  74.07% {
    transform: translate(700px, 409px);
  }
  77.78% {
    transform: translate(732px, 382px);
  }
  81.48% {
    transform: translate(764px, 409px);
  }
  85.19% {
    transform: translate(796px, 436px);
  }
  88.89% {
    transform: translate(828px, 436px);
  }
  92.59% {
    transform: translate(860px, 436px);
  }
  96.3% {
    transform: translate(892px, 463px);
  }
  100% {
    transform: translate(924px, 463px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation5 {
  0% {
    transform: translate(156px, 895px);
  }
  4.76% {
    transform: translate(188px, 922px);
  }
  9.52% {
    transform: translate(220px, 922px);
  }
  14.29% {
    transform: translate(252px, 895px);
  }
  19.05% {
    transform: translate(284px, 895px);
  }
  23.81% {
    transform: translate(316px, 922px);
  }
  28.57% {
    transform: translate(348px, 949px);
  }
  33.33% {
    transform: translate(380px, 922px);
  }
  38.1% {
    transform: translate(412px, 949px);
  }
  42.86% {
    transform: translate(444px, 949px);
  }
  47.62% {
    transform: translate(476px, 976px);
  }
  52.38% {
    transform: translate(508px, 949px);
  }
  57.14% {
    transform: translate(540px, 922px);
  }
  61.9% {
    transform: translate(572px, 949px);
  }
  66.67% {
    transform: translate(604px, 922px);
  }
  71.43% {
    transform: translate(636px, 895px);
  }
  76.19% {
    transform: translate(668px, 895px);
  }
  80.95% {
    transform: translate(700px, 922px);
  }
  85.71% {
    transform: translate(732px, 895px);
  }
  90.48% {
    transform: translate(764px, 922px);
  }
  95.24% {
    transform: translate(796px, 949px);
  }
  100% {
    transform: translate(828px, 949px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation6 {
  0% {
    transform: translate(316px, 139px);
  }
  2.86% {
    transform: translate(348px, 166px);
  }
  5.71% {
    transform: translate(380px, 139px);
  }
  8.57% {
    transform: translate(412px, 112px);
  }
  11.43% {
    transform: translate(444px, 112px);
  }
  14.29% {
    transform: translate(476px, 85px);
  }
  17.14% {
    transform: translate(508px, 85px);
  }
  20% {
    transform: translate(540px, 112px);
  }
  22.86% {
    transform: translate(572px, 112px);
  }
  25.71% {
    transform: translate(604px, 85px);
  }
  28.57% {
    transform: translate(636px, 112px);
  }
  31.43% {
    transform: translate(668px, 85px);
  }
  34.29% {
    transform: translate(700px, 112px);
  }
  37.14% {
    transform: translate(732px, 85px);
  }
  40% {
    transform: translate(764px, 58px);
  }
  42.86% {
    transform: translate(796px, 31px);
  }
  45.71% {
    transform: translate(828px, 4px);
  }
  48.57% {
    transform: translate(860px, 4px);
  }
  51.43% {
    transform: translate(892px, 4px);
  }
  54.29% {
    transform: translate(924px, 31px);
  }
  57.14% {
    transform: translate(956px, 31px);
  }
  60% {
    transform: translate(988px, 31px);
  }
  62.86% {
    transform: translate(1020px, 31px);
  }
  65.71% {
    transform: translate(1052px, 31px);
  }
  68.57% {
    transform: translate(1084px, 4px);
  }
  71.43% {
    transform: translate(1116px, 4px);
  }
  74.29% {
    transform: translate(1148px, 31px);
  }
  77.14% {
    transform: translate(1180px, 4px);
  }
  80% {
    transform: translate(1212px, 31px);
  }
  82.86% {
    transform: translate(1244px, 4px);
  }
  85.71% {
    transform: translate(1276px, -23px);
  }
  88.57% {
    transform: translate(1308px, -50px);
  }
  91.43% {
    transform: translate(1340px, -50px);
  }
  94.29% {
    transform: translate(1372px, -50px);
  }
  97.14% {
    transform: translate(1404px, -23px);
  }
  100% {
    transform: translate(1436px, 4px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation7 {
  0% {
    transform: translate(700px, 490px);
  }
  16.67% {
    transform: translate(732px, 517px);
  }
  33.33% {
    transform: translate(764px, 517px);
  }
  50% {
    transform: translate(796px, 490px);
  }
  66.67% {
    transform: translate(828px, 463px);
  }
  83.33% {
    transform: translate(860px, 463px);
  }
  100% {
    transform: translate(892px, 463px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation8 {
  0% {
    transform: translate(860px, 706px);
  }
  25% {
    transform: translate(892px, 679px);
  }
  50% {
    transform: translate(924px, 706px);
  }
  75% {
    transform: translate(956px, 679px);
  }
  100% {
    transform: translate(988px, 652px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation9 {
  0% {
    transform: translate(828px, 247px);
  }
  11.11% {
    transform: translate(860px, 247px);
  }
  22.22% {
    transform: translate(892px, 220px);
  }
  33.33% {
    transform: translate(924px, 220px);
  }
  44.44% {
    transform: translate(956px, 220px);
  }
  55.56% {
    transform: translate(988px, 247px);
  }
  66.67% {
    transform: translate(1020px, 247px);
  }
  77.78% {
    transform: translate(1052px, 247px);
  }
  88.89% {
    transform: translate(1084px, 274px);
  }
  100% {
    transform: translate(1116px, 274px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation10 {
  0% {
    transform: translate(-36px, 4px);
  }
  4.17% {
    transform: translate(-4px, 4px);
  }
  8.33% {
    transform: translate(28px, -23px);
  }
  12.5% {
    transform: translate(60px, -23px);
  }
  16.67% {
    transform: translate(92px, 4px);
  }
  20.83% {
    transform: translate(124px, 4px);
  }
  25% {
    transform: translate(156px, -23px);
  }
  29.17% {
    transform: translate(188px, -50px);
  }
  33.33% {
    transform: translate(220px, -23px);
  }
  37.5% {
    transform: translate(252px, -50px);
  }
  41.67% {
    transform: translate(284px, -50px);
  }
  45.83% {
    transform: translate(316px, -23px);
  }
  50% {
    transform: translate(348px, 4px);
  }
  54.17% {
    transform: translate(380px, 31px);
  }
  58.33% {
    transform: translate(412px, 4px);
  }
  62.5% {
    transform: translate(444px, 31px);
  }
  66.67% {
    transform: translate(476px, 58px);
  }
  70.83% {
    transform: translate(508px, 85px);
  }
  75% {
    transform: translate(540px, 58px);
  }
  79.17% {
    transform: translate(572px, 58px);
  }
  83.33% {
    transform: translate(604px, 85px);
  }
  87.5% {
    transform: translate(636px, 58px);
  }
  91.67% {
    transform: translate(668px, 58px);
  }
  95.83% {
    transform: translate(700px, 31px);
  }
  100% {
    transform: translate(732px, 58px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation11 {
  0% {
    transform: translate(1084px, 31px);
  }
  8.33% {
    transform: translate(1116px, 58px);
  }
  16.67% {
    transform: translate(1148px, 31px);
  }
  25% {
    transform: translate(1180px, 58px);
  }
  33.33% {
    transform: translate(1212px, 85px);
  }
  41.67% {
    transform: translate(1244px, 58px);
  }
  50% {
    transform: translate(1276px, 58px);
  }
  58.33% {
    transform: translate(1308px, 58px);
  }
  66.67% {
    transform: translate(1340px, 58px);
  }
  75% {
    transform: translate(1372px, 31px);
  }
  83.33% {
    transform: translate(1404px, 31px);
  }
  91.67% {
    transform: translate(1436px, 58px);
  }
  100% {
    transform: translate(1468px, 58px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation12 {
  0% {
    transform: translate(380px, 976px);
  }
  7.14% {
    transform: translate(412px, 1003px);
  }
  14.29% {
    transform: translate(444px, 976px);
  }
  21.43% {
    transform: translate(476px, 949px);
  }
  28.57% {
    transform: translate(508px, 922px);
  }
  35.71% {
    transform: translate(540px, 949px);
  }
  42.86% {
    transform: translate(572px, 976px);
  }
  50% {
    transform: translate(604px, 976px);
  }
  57.14% {
    transform: translate(636px, 976px);
  }
  64.29% {
    transform: translate(668px, 976px);
  }
  71.43% {
    transform: translate(700px, 1003px);
  }
  78.57% {
    transform: translate(732px, 1030px);
  }
  85.71% {
    transform: translate(764px, 1057px);
  }
  92.86% {
    transform: translate(796px, 1057px);
  }
  100% {
    transform: translate(828px, 1084px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation13 {
  0% {
    transform: translate(444px, 247px);
  }
  12.5% {
    transform: translate(476px, 274px);
  }
  25% {
    transform: translate(508px, 301px);
  }
  37.5% {
    transform: translate(540px, 274px);
  }
  50% {
    transform: translate(572px, 247px);
  }
  62.5% {
    transform: translate(604px, 220px);
  }
  75% {
    transform: translate(636px, 193px);
  }
  87.5% {
    transform: translate(668px, 220px);
  }
  100% {
    transform: translate(700px, 193px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation14 {
  0% {
    transform: translate(284px, 706px);
  }
  12.5% {
    transform: translate(316px, 679px);
  }
  25% {
    transform: translate(348px, 679px);
  }
  37.5% {
    transform: translate(380px, 706px);
  }
  50% {
    transform: translate(412px, 679px);
  }
  62.5% {
    transform: translate(444px, 652px);
  }
  75% {
    transform: translate(476px, 625px);
  }
  87.5% {
    transform: translate(508px, 625px);
  }
  100% {
    transform: translate(540px, 625px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation15 {
  0% {
    transform: translate(124px, 490px);
  }
  2.7% {
    transform: translate(156px, 463px);
  }
  5.41% {
    transform: translate(188px, 436px);
  }
  8.11% {
    transform: translate(220px, 409px);
  }
  10.81% {
    transform: translate(252px, 436px);
  }
  13.51% {
    transform: translate(284px, 436px);
  }
  16.22% {
    transform: translate(316px, 409px);
  }
  18.92% {
    transform: translate(348px, 436px);
  }
  21.62% {
    transform: translate(380px, 409px);
  }
  24.32% {
    transform: translate(412px, 409px);
  }
  27.03% {
    transform: translate(444px, 382px);
  }
  29.73% {
    transform: translate(476px, 382px);
  }
  32.43% {
    transform: translate(508px, 409px);
  }
  35.14% {
    transform: translate(540px, 409px);
  }
  37.84% {
    transform: translate(572px, 436px);
  }
  40.54% {
    transform: translate(604px, 463px);
  }
  43.24% {
    transform: translate(636px, 490px);
  }
  45.95% {
    transform: translate(668px, 463px);
  }
  48.65% {
    transform: translate(700px, 490px);
  }
  51.35% {
    transform: translate(732px, 463px);
  }
  54.05% {
    transform: translate(764px, 490px);
  }
  56.76% {
    transform: translate(796px, 463px);
  }
  59.46% {
    transform: translate(828px, 463px);
  }
  62.16% {
    transform: translate(860px, 436px);
  }
  64.86% {
    transform: translate(892px, 463px);
  }
  67.57% {
    transform: translate(924px, 463px);
  }
  70.27% {
    transform: translate(956px, 490px);
  }
  72.97% {
    transform: translate(988px, 517px);
  }
  75.68% {
    transform: translate(1020px, 544px);
  }
  78.38% {
    transform: translate(1052px, 517px);
  }
  81.08% {
    transform: translate(1084px, 490px);
  }
  83.78% {
    transform: translate(1116px, 517px);
  }
  86.49% {
    transform: translate(1148px, 517px);
  }
  89.19% {
    transform: translate(1180px, 517px);
  }
  91.89% {
    transform: translate(1212px, 490px);
  }
  94.59% {
    transform: translate(1244px, 490px);
  }
  97.3% {
    transform: translate(1276px, 463px);
  }
  100% {
    transform: translate(1308px, 436px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation16 {
  0% {
    transform: translate(732px, 868px);
  }
  20% {
    transform: translate(764px, 868px);
  }
  40% {
    transform: translate(796px, 841px);
  }
  60% {
    transform: translate(828px, 814px);
  }
  80% {
    transform: translate(860px, 814px);
  }
  100% {
    transform: translate(892px, 787px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation17 {
  0% {
    transform: translate(-4px, 382px);
  }
  2.27% {
    transform: translate(28px, 382px);
  }
  4.55% {
    transform: translate(60px, 382px);
  }
  6.82% {
    transform: translate(92px, 409px);
  }
  9.09% {
    transform: translate(124px, 382px);
  }
  11.36% {
    transform: translate(156px, 355px);
  }
  13.64% {
    transform: translate(188px, 328px);
  }
  15.91% {
    transform: translate(220px, 301px);
  }
  18.18% {
    transform: translate(252px, 301px);
  }
  20.45% {
    transform: translate(284px, 301px);
  }
  22.73% {
    transform: translate(316px, 274px);
  }
  25% {
    transform: translate(348px, 301px);
  }
  27.27% {
    transform: translate(380px, 328px);
  }
  29.55% {
    transform: translate(412px, 355px);
  }
  31.82% {
    transform: translate(444px, 355px);
  }
  34.09% {
    transform: translate(476px, 328px);
  }
  36.36% {
    transform: translate(508px, 355px);
  }
  38.64% {
    transform: translate(540px, 382px);
  }
  40.91% {
    transform: translate(572px, 382px);
  }
  43.18% {
    transform: translate(604px, 355px);
  }
  45.45% {
    transform: translate(636px, 382px);
  }
  47.73% {
    transform: translate(668px, 382px);
  }
  50% {
    transform: translate(700px, 355px);
  }
  52.27% {
    transform: translate(732px, 328px);
  }
  54.55% {
    transform: translate(764px, 301px);
  }
  56.82% {
    transform: translate(796px, 274px);
  }
  59.09% {
    transform: translate(828px, 301px);
  }
  61.36% {
    transform: translate(860px, 328px);
  }
  63.64% {
    transform: translate(892px, 355px);
  }
  65.91% {
    transform: translate(924px, 355px);
  }
  68.18% {
    transform: translate(956px, 382px);
  }
  70.45% {
    transform: translate(988px, 409px);
  }
  72.73% {
    transform: translate(1020px, 382px);
  }
  75% {
    transform: translate(1052px, 409px);
  }
  77.27% {
    transform: translate(1084px, 409px);
  }
  79.55% {
    transform: translate(1116px, 409px);
  }
  81.82% {
    transform: translate(1148px, 436px);
  }
  84.09% {
    transform: translate(1180px, 409px);
  }
  86.36% {
    transform: translate(1212px, 382px);
  }
  88.64% {
    transform: translate(1244px, 409px);
  }
  90.91% {
    transform: translate(1276px, 382px);
  }
  93.18% {
    transform: translate(1308px, 409px);
  }
  95.45% {
    transform: translate(1340px, 382px);
  }
  97.73% {
    transform: translate(1372px, 382px);
  }
  100% {
    transform: translate(1404px, 409px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation18 {
  0% {
    transform: translate(60px, 706px);
  }
  4.76% {
    transform: translate(92px, 679px);
  }
  9.52% {
    transform: translate(124px, 706px);
  }
  14.29% {
    transform: translate(156px, 733px);
  }
  19.05% {
    transform: translate(188px, 760px);
  }
  23.81% {
    transform: translate(220px, 733px);
  }
  28.57% {
    transform: translate(252px, 733px);
  }
  33.33% {
    transform: translate(284px, 760px);
  }
  38.1% {
    transform: translate(316px, 733px);
  }
  42.86% {
    transform: translate(348px, 733px);
  }
  47.62% {
    transform: translate(380px, 733px);
  }
  52.38% {
    transform: translate(412px, 733px);
  }
  57.14% {
    transform: translate(444px, 760px);
  }
  61.9% {
    transform: translate(476px, 787px);
  }
  66.67% {
    transform: translate(508px, 814px);
  }
  71.43% {
    transform: translate(540px, 787px);
  }
  76.19% {
    transform: translate(572px, 814px);
  }
  80.95% {
    transform: translate(604px, 814px);
  }
  85.71% {
    transform: translate(636px, 787px);
  }
  90.48% {
    transform: translate(668px, 814px);
  }
  95.24% {
    transform: translate(700px, 814px);
  }
  100% {
    transform: translate(732px, 841px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation19 {
  0% {
    transform: translate(988px, 301px);
  }
  7.69% {
    transform: translate(1020px, 301px);
  }
  15.38% {
    transform: translate(1052px, 274px);
  }
  23.08% {
    transform: translate(1084px, 247px);
  }
  30.77% {
    transform: translate(1116px, 220px);
  }
  38.46% {
    transform: translate(1148px, 220px);
  }
  46.15% {
    transform: translate(1180px, 220px);
  }
  53.85% {
    transform: translate(1212px, 220px);
  }
  61.54% {
    transform: translate(1244px, 193px);
  }
  69.23% {
    transform: translate(1276px, 166px);
  }
  76.92% {
    transform: translate(1308px, 139px);
  }
  84.62% {
    transform: translate(1340px, 166px);
  }
  92.31% {
    transform: translate(1372px, 166px);
  }
  100% {
    transform: translate(1404px, 139px);
  }
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.particle {
  position: absolute;
  opacity: 0;
  overflow: visible;
  background-size: contain;
}

.elem1 {
  left: 156px;
  top: 85px;
  animation: animation1 linear 18s infinite;
  height: 15px;
  width: 15px;
  background-image: url(http://vc35photography.epizy.com/img/camera-shutter.svg);
}

.elem2 {
  left: -4px;
  top: 4px;
  animation: animation2 linear 17s infinite;
  height: 19px;
  width: 19px;
  background-image: url(http://vc35photography.epizy.com/img/photo-camera.svg);
}

.elem3 {
  left: 156px;
  top: 85px;
  animation: animation3 linear 19s infinite;
  height: 18px;
  width: 18px;
  background-image: url(http://vc35photography.epizy.com/img/spark-green.svg);
}

.elem4 {
  left: 188px;
  top: 31px;
  animation: animation4 linear 18s infinite;
  height: 27px;
  width: 27px;
  background-image: url(http://vc35photography.epizy.com/img/spark-white.svg);
}

.elem5 {
  left: 92px;
  top: 85px;
  animation: animation5 linear 16s infinite;
  height: 30px;
  width: 30px;
  background-image: url(http://vc35photography.epizy.com/img/buddhism-wheel.svg);
}

.elem6 {
  left: -68px;
  top: 166px;
  animation: animation6 linear 20s infinite;
  height: 29px;
  width: 29px;
  background-image: url(http://vc35photography.epizy.com/img/camera-shutter.svg);
}

.elem7 {
  left: 188px;
  top: 166px;
  animation: animation7 linear 20s infinite;
  height: 14px;
  width: 14px;
  background-image: url(http://vc35photography.epizy.com/img/photo-camera.svg);
}

.elem8 {
  left: 124px;
  top: 166px;
  animation: animation8 linear 18s infinite;
  height: 18px;
  width: 18px;
  background-image: url(http://vc35photography.epizy.com/img/spark-green.svg);
}

.elem9 {
  left: -4px;
  top: 139px;
  animation: animation9 linear 17s infinite;
  height: 13px;
  width: 13px;
  background-image: url(http://vc35photography.epizy.com/img/spark-white.svg);
}

.elem10 {
  left: 124px;
  top: -23px;
  animation: animation10 linear 18s infinite;
  height: 20px;
  width: 20px;
  background-image: url(http://vc35photography.epizy.com/img/buddhism-wheel.svg);
}

.elem11 {
  left: 188px;
  top: 4px;
  animation: animation11 linear 20s infinite;
  height: 27px;
  width: 27px;
  background-image: url(http://vc35photography.epizy.com/img/camera-shutter.svg);
}

.elem12 {
  left: 124px;
  top: -23px;
  animation: animation12 linear 19s infinite;
  height: 13px;
  width: 13px;
  background-image: url(http://vc35photography.epizy.com/img/photo-camera.svg);
}

.elem13 {
  left: 124px;
  top: 193px;
  animation: animation13 linear 19s infinite;
  height: 24px;
  width: 24px;
  background-image: url(http://vc35photography.epizy.com/img/spark-green.svg);
}

.elem14 {
  left: 124px;
  top: 85px;
  animation: animation14 linear 16s infinite;
  height: 19px;
  width: 19px;
  background-image: url(http://vc35photography.epizy.com/img/spark-white.svg);
}

.elem15 {
  left: 60px;
  top: -23px;
  animation: animation15 linear 16s infinite;
  height: 25px;
  width: 25px;
  background-image: url(http://vc35photography.epizy.com/img/buddhism-wheel.svg);
}

.elem16 {
  left: 124px;
  top: 112px;
  animation: animation16 linear 19s infinite;
  height: 17px;
  width: 17px;
  background-image: url(http://vc35photography.epizy.com/img/camera-shutter.svg);
}

.elem17 {
  left: 124px;
  top: 85px;
  animation: animation17 linear 19s infinite;
  height: 16px;
  width: 16px;
  background-image: url(http://vc35photography.epizy.com/img/photo-camera.svg);
}

.elem18 {
  left: -68px;
  top: 139px;
  animation: animation18 linear 17s infinite;
  height: 14px;
  width: 14px;
  background-image: url(http://vc35photography.epizy.com/img/spark-green.svg);
}

.elem19 {
  left: -36px;
  top: 112px;
  animation: animation19 linear 17s infinite;
  height: 28px;
  width: 28px;
  background-image: url(http://vc35photography.epizy.com/img/spark-white.svg);
}

.anim-delay1 {
  animation-delay: 4s;
}

.anim-delay2 {
  animation-delay: 3s;
}

.anim-delay3 {
  animation-delay: 4s;
}

.anim-delay4 {
  animation-delay: 1s;
}

.anim-delay5 {
  animation-delay: 3s;
}

.anim-delay6 {
  animation-delay: 1s;
}

.anim-delay7 {
  animation-delay: 2s;
}

.anim-delay8 {
  animation-delay: 4s;
}

.anim-delay9 {
  animation-delay: 5s;
}

.anim-delay10 {
  animation-delay: 5s;
}

.anim-delay11 {
  animation-delay: 5s;
}

.anim-delay12 {
  animation-delay: 3s;
}

.anim-delay13 {
  animation-delay: 5s;
}

.anim-delay14 {
  animation-delay: 1s;
}

.anim-delay15 {
  animation-delay: 5s;
}

.anim-delay16 {
  animation-delay: 2s;
}

.anim-delay17 {
  animation-delay: 5s;
}

.anim-delay18 {
  animation-delay: 4s;
}

.anim-delay19 {
  animation-delay: 2s;
}

.anim-delay20 {
  animation-delay: 2s;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background: #2f2f2f;
  position: relative;
}

.fa {
  margin-right: 10px;
}

.fa-instagram, .fa-facebook {
  font-size: 24px !important;
}

.fa-instagram:hover, .fa-facebook:hover {
  color: #C7AC00 !important;
}

.btntransparent {
  background-color: #2f2f2f;
  padding: 6px 0px;
}

.btntransparent:hover, .btntransparent:active, .btntransparent:focus {
  background-color: #494949;
}

.hidden {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */